body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.paper{
  padding: 20px;
  height: 500px;
}

.form-control, .button-panel{
  padding: 5px 0;
  
}

.button-signin{
  width: 50%;
  float: left;
  padding: 10px;
}
.button-signup{
  float: right;
  padding: 10px;
}

.forgot{
  padding: 5px 0;
  float: left;
}